<a href="https://colab.research.google.com/github/IDE21/Project1-INE/blob/main/Project1_INE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![ine-divider](https://user-images.githubusercontent.com/7065401/92672068-398e8080-f2ee-11ea-82d6-ad53f7feb5c0.png)
<hr>

### Introduction to Data Science with Python — Starter Pass

# Analyzing bank customers with pandas

In this project, you will be using a dataset which contains anonymized bank customer's data to put in practice all the topics you saw on previous lessons.

![bank_customers](https://user-images.githubusercontent.com/7065401/103784823-2af47380-5019-11eb-8054-d766d392d6ff.png)

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Knowing our data

Before starting it's important to load all the libraries we'll be using and understand the data we'll be working on.

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
df = pd.read_csv('/content/bank_customers.csv')

Take a look at some records of your data, analyze columns and values:

In [50]:
# your code goes here
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Total_Relationship_Count,Credit_Limit,Total_Revolving_Bal,Total_Trans_Amt,Total_Trans_Ct
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,5,12691.0,777,1144,42
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,6,8256.0,864,1291,33
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,4,3418.0,0,1887,20
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,3,3313.0,2517,1171,20
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,5,4716.0,0,816,28

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## How many customers are within each card category?

In [51]:
# your code goes here
df = df.rename(columns={'Card_Category': 'Card'})
df['Card'].value_counts()

Card
Blue        9436
Silver       555
Gold         116
Platinum      20
Name: count, dtype: int64

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Remove from the data all the customers without `Blue` cards

In [52]:
# your code goes here
df = df[df["Card"]=="Blue"].drop("Card", axis=1)
print(df)

          Attrition_Flag  Customer_Age Gender  Dependent_count  \
0      Existing Customer            45      M                3
1      Existing Customer            49      F                5
2      Existing Customer            51      M                3
3      Existing Customer            40      F                4
4      Existing Customer            40      M                3
...                  ...           ...    ...              ...
10121  Existing Customer            56      F                1
10122  Existing Customer            50      M                2
10123  Attrited Customer            41      M                2
10124  Attrited Customer            44      F                1
10125  Attrited Customer            30      M                2

      Education_Level Marital_Status Income_Category  \
0         High School        Married     $60K - $80K
1            Graduate         Single  Less than $40K
2            Graduate        Married    $80K - $120K
3         High School        Unknown  Less than $40K
4          Uneducated        Married     $60K - $80K
...               ...            ...             ...
10121        Graduate         Single  Less than $40K
10122        Graduate         Single     $40K - $60K
10123         Unknown       Divorced     $40K - $60K
10124     High School        Married  Less than $40K
10125        Graduate        Unknown     $40K - $60K

       Total_Relationship_Count  Credit_Limit  Total_Revolving_Bal  \
0                             5       12691.0                  777
1                             6        8256.0                  864
2                             4        3418.0                    0
3                             3        3313.0                 2517
4                             5        4716.0                    0
...                         ...           ...                  ...
10121                         4        3688.0                  606
10122                         3        4003.0                 1851
10123                         4        4277.0                 2186
10124                         5        5409.0                    0
10125                         4        5281.0                    0

       Total_Trans_Amt  Total_Trans_Ct
0                 1144              42
1                 1291              33
2                 1887              20
3                 1171              20
4                  816              28
...                ...             ...
10121            14596             120
10122            15476             117
10123             8764              69
10124            10291              60
10125             8395              62

[9436 rows x 12 columns]

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## How many customers spent more than 10000 USD?

In [53]:
# your code goes here
df.loc[df['Total_Trans_Amt'] > 10_000, 'Total_Trans_Amt'].count()

596

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Analyzing total transactions amount

We have the total amount per customer. Let's get the overall average, minimum and maximum amounts:

In [54]:
# your code goes here
df = df.rename(columns={'Total_Trans_Amt': 'Total_Trans_Amt'})
df['Total_Trans_Amt'].describe()

count     9436.000000
mean      4225.406740
std       3196.099965
min        510.000000
25%       2132.000000
50%       3856.500000
75%       4679.250000
max      18484.000000
Name: Total_Trans_Amt, dtype: float64

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Calculating average transaction amount per customer

Now let's calculate and add a new column to our dataset called `Avg_Trans_Amt`. To do that we should apply the following formula:

$$ Avg\_Trans\_Amt = \frac{Total\_Trans\_Amt}{Total\_Trans\_Ct} $$

**Can you calculate it?** Round the resulting values to 2 decimals.

In [55]:
# your code goes here
avg_trans_amt = df['Total_Trans_Amt'] / df['Total_Trans_Ct']
df['Avg_Trans_Amt'] = avg_trans_amt.round(2)
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Total_Relationship_Count,Credit_Limit,Total_Revolving_Bal,Total_Trans_Amt,Total_Trans_Ct,Avg_Trans_Amt
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,5,12691.0,777,1144,42,27.24
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,6,8256.0,864,1291,33,39.12
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,4,3418.0,0,1887,20,94.35
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,3,3313.0,2517,1171,20,58.55
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,5,4716.0,0,816,28,29.14

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## What is the overall average transaction amount?

In [56]:
# your code goes here
avg_trans_amt = df['Avg_Trans_Amt'].mean()
print(avg_trans_amt)

61.27354599406527

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Replacing Gender values

In the `Gender` column we just have `M` and `F` values. Let's replace them with `Male` and `Female` to better understanding.

> _You can use the `replace()` pandas method to replace certain values._

In [57]:
df['Gender'].value_counts()

Gender
F    5101
M    4335
Name: count, dtype: int64

In [58]:
# your code goes here
df = df.replace({"Gender": {'M': 'Male', 'F': 'Female'}})

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Which is the average transactions count per marital status?

Sort the results in ascending order.

In [59]:
# your code goes here
df = df.rename(columns={'Marital_Status': 'Marital'})
df['Marital'].value_counts()

Marital
Married     4433
Single      3624
Divorced     696
Unknown      683
Name: count, dtype: int64

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)

## Which is the average transactions amount per education level?

Sort the results in descending order.

In [61]:
# your code goes here
# Convert 'Total_Trans_Amt' to numeric, handling non-numeric values
df['Total_Trans_Amt'] = pd.to_numeric(df['Total_Trans_Amt'], errors='coerce')

# Calculate the mean, ignoring non-numeric values
df.groupby('Education_Level')['Total_Trans_Amt'].mean().sort_values(ascending=False)

Education_Level
Post-Graduate    4400.571429
Uneducated       4347.237958
Unknown          4258.104225
High School      4245.541843
Graduate         4200.481200
College          4049.073404
Doctorate        3990.149289
Name: Total_Trans_Amt, dtype: float64

![orange-divider](https://user-images.githubusercontent.com/7065401/92672455-187a5f80-f2ef-11ea-890c-40be9474f7b7.png)